/*
Theme Name: Elektriker ohne Grenzen
Theme URI: https://gitlab.com/smueller18/wordpress-theme-elektriker-ohne-grenzen
Description: Cannyon is an white, clean, elegant, modern, beautiful and creative freemium WordPress theme built with HTML5 and CSS3. The clean, modern design can be used for any type of website: business, corporate, portfolio, products, creative, arts, design, construction, transport, manufacturing, ecology, cosmetics, beauty, hygiene, sports, culture, presentations, food business, restaurants, drink, bar, pub, club, radio, tv, television, music, movies, live style, garden, cuisine, chemical, pharmaceutical, medicine, travel, sample blog, agriculture, science, politics and more others. Theme comes with nice flat design concept and responsive layout. This theme is suitable for all type of devices: desktop, notebook, iPhone, tablete and others. Responsive design and grid system is based on twitter bootstrap framework. Theme is developed by myThem.es and it comes with nice header parallax effect. We carefully handcrafted this theme with a strong focus on typography, usability and overall user-experience. This beautiful and easy to customize WordPress theme come with live preview changes integrated with wp customize. It’s very quick to setup and easy to customize and it comes with free support. Theme features: custom header, parallax header, header buttons, custom logo, custom favicon, header custom colors, custom background color, custom background image, custom footer, custom copyright, custom social links, custom css, custom layout, left sidebar, right sidebar, full width layout, additional sidebars, custom widgets, support for jetpack plugin, styled contact form 7 plugin. Please read the FAQ: Admin Dashboard > Appearances > Cannyon FAQ. See our demo: https://goo.gl/cxMNsQ
Version: 0.0.1
Tags: blog, news, featured-images, one-column, two-columns, right-sidebar, left-sidebar, theme-options, translation-ready, custom-colors, custom-menu, threaded-comments, custom-background, custom-header
Text Domain: elektriker-ohne-grenzen
Domain Path: /languages
Author: Stephan Müller
Author URI: https://gitlab.com/smueller18
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html




    Cannyon, Copyright 2015 myThem.es ( email: cannyon at mythem.es )
    Cannyon is distributed under the terms of the GNU GPL


                     ________________
                    |_____    _______|
     ___ ___ ___   __ __  |  |  __       ____   ___ ___ ___       ____   ____
    |   |   |   | |_ |  | |  | |  |___  |  __| |   |   |   |     |  __| |  __|
    |   |   |   |  | |  | |  | |  __  | |  __| |   |   |   |  _  |  __| |__  |
    |___|___|___|   |  |  |__| |_ ||_ | |____| |___|___|___| |_| |____| |____|
                    |_|


                         myThem.es Marketplace provides WordPress themes with
                                    the best quality and the smallest prices.




*/
/* ALIGN TEXT */
.align-none{
    text-align: none;
}
.align-left{
    text-align: left;
}
.align-center{
    text-align: center;
}
.align-justify{
    text-align: justify;
}
.align-right{
    text-align: right;
}

/* WORDPRESS */
.alignleft,
.alignright{
    margin-top: 10px;
    margin-bottom: 10px;
}
.alignnone,
.aligncenter{
    margin-top: 25px;
    margin-bottom: 25px;
}
.alignleft{
    float:left;
    margin-right: 15px;
}
.alignright{
    float:right;
    margin-left: 15px;
}
.aligncenter{
    clear:both;
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

img:not(.parallax-image).aligncenter{
    margin-left: auto;
    margin-right: auto;
}

.sticky,
.gallery-caption,
.screen-reader-text,
.bypostauthor{}

.wp-caption{
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.wp-caption,
.wp-caption p,
.wp-caption a{
    font-style: italic;
}
.wp-caption,
.wp-caption p{
    color: #454545;
}
section .wp-caption p,
section .wp-caption p.wp-caption-text{
    background: rgba( 100, 100, 100, 0.01 );
    color: #454545;
    padding: 10px;
    margin: 0px;
}
section .post-thumbnail .valign-bottom-cell-wrapper{
    height: auto;
}
.single-portfolio .thumbnail-content footer,
section .post-thumbnail footer{
    background: rgba( 0,0,0, 0.4 );
    color: #ffffff;
    font-style: italic;
    padding: 10px;
}
.wp-caption img{
    display: block;
    margin: 0px auto;
}

.mythemes-round-corners{
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
        border-radius: 5px;
}

code {
    background: #e9e9e9;
    font-size: 12px;
    padding: 2px 8px;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}
code {
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-weight: 400;
    color: #333;
}

/* CUSTOMIZATION */

.home .main-content {
	padding-top: 0 !important;
}

.content p {
	text-align: justify;
}

p.has-text-align-center {
  text-align: center;
}

p.has-text-align-right {
  text-align: right;
}

p.has-text-align-left {
  text-align: left;
}

.img-rounded-circle img {
	border-radius: 50%;
}

.color-eog-red {
	color: #af1e2d;
}

.color-eog-orange {
	color: #d15b03;
}

.color-eog-yellow {
	color: #efb22d;
}

.eog-worldwide img {
	height: 200px !important;
}

div.widget .netcup-logo {
	height: 44px !important;
}

input[type=text],input[type=number],input[type=password],input[type=email],input[type=phone],input[type=tel],select,textarea {
  color: #161616;
}

.gsection {
    margin-top: 46px !important;
}

.form-label-long label {
	font-weight: 400;
	display: inline;
}

@media (min-width: 800px) {
	.member-map {
    margin: 0 25%;
	}
}

.gfield_consent_label {
	padding-left: 6px;
}

.gsection_description {
	font-size: 0.95em !important;
}

.gfield_description {
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	font-size: 0.95em !important;
}

.gform_wrapper .description_above .gfield_consent_description {
    padding: 8px;
}

.gfield_consent_description {
	font-size: 1em !important;
}

.gfield_consent_description br {
	height: 0;
  line-height: 0;
}

.gfield_consent_description p {
	margin: 4px;
}

.gfield_consent_description h4 {
	font-size: 1.1em;
	margin-top: 24px;
}

.gfield_consent_description h4:first-child {
	margin-top: 0;
}

.gform_wrapper
.gfield_consent_description
li {
	list-style: circle !important;
}

.checkboxes-others {
	margin-top: 0 !important;
}

.checkboxes-others .gfield_label {
	display: none !important;
}

input[type=radio], input[type=checkbox] {
  margin: 0 6px 0 0 !important;
}

.max-width-320 {
	max-width: 320px !important;
}

.gfield_list th {
	background-color: transparent;
}

@media (max-width:600px) {
  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__media {
      grid-column: 1;
      grid-row: 1 !important;
  }

  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
      grid-column: 1;
      grid-row: 2 !important;
  }

  .wp-block-media-text .wp-block-media-text__media {
      margin: 0 auto 40px auto !important;
  }
}

.blocks-gallery-grid, .wp-block-gallery {
  padding: 0 !important;
}

div.widget a:hover, div.widget_rss ul li a.rsswidget:hover {
  color: #7d0000;
}
