/* ITEMS */
.overflow-wrapper{
    display: block;
    position: relative;
    overflow: hidden;
}
.img-background{
    background-position: center center;
    background-repeat: no-repeat;
}
/* ROTATE & SCALE IMAGE */
.effect-scale,
.effect-rotate,
.effect-scale-rotate{
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
*:hover  > .effect-scale{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
*:hover > .effect-rotate{
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}
*:hover > .effect-scale-rotate{
    -webkit-transform: scale(1.2) rotate(5deg);
       -moz-transform: scale(1.2) rotate(5deg);
         -o-transform: scale(1.2) rotate(5deg);
        -ms-transform: scale(1.2) rotate(5deg);
            transform: scale(1.2) rotate(5deg);
}

/* VERTICAL ALIGN CENTER */
.valign-cell-wrapper{
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;

    display: table;

    valign:middle;
    vertical-align: central;
    vertical-align: middle;

    text-align: center;

    /* align center */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.valign-cell{

    text-align: center;

    width:  100%;
    padding: 0 10%;

    valign:middle;
    vertical-align: central;
    vertical-align: middle;
}

.valign-cell-wrapper.left,
.valign-cell-wrapper.left .valign-cell{
    text-align: left;
}
.valign-cell-wrapper.right,
.valign-cell-wrapper.right .valign-cell{
    text-align: right;
}

/* VERTICAL ALIGN CENTER */
.valign-bottom-cell-wrapper{
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 115px;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;

    display: table;

    valign:bottom;
    vertical-align: bottom;

    text-align: center;

    /* align center */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    z-index: 100;
}

@media ( max-width: 767px ){
    .valign-bottom-cell-wrapper{
        height: 150px;
    }
}

.valign-bottom-cell{

    text-align: center;

    width:  100%;
    padding: 0 10%;

    valign:bottom;
    vertical-align: bottom;
}
